.touch-slider {
	position: relative;
	width: 100%;
	height: 100px;
	overflow-x: scroll;
	.touch-slider-inner {
		width: 200%;
		.left-bound {
			float: left;
		}
		.handle {
			height: 100px;
			margin: 0 auto;
		}
		.right-bound {
			float: right;
		}
	}
}
// ::-webkit-scrollbar {
// 	width: 0;
// 	height: 50px;
// }
// ::-webkit-scrollbar-track-piece {
// 	background-color: white;
// }
// ::-webkit-scrollbar-thumb {
// 	background-color: #ff4081;
// }
