@import '../index';
.setting-container {
	border-radius: 4px;
	background-color: $P500;
	padding: 10px;
	color: white;
	input {
		width: 95%;
		font-size: 16px;
		background-color: $P500;
		border: none;
		padding: 5px;
		color: #ffffff;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: $P50;
	}
	label {
		color: $P50;
	}
	select {
		color: #ffffff;
		background: $P500;
		border-radius: 5px;
		border-width: 1px;
		border-style: solid;
		border-color: $P50;
		width: 95%;
		padding: 5px;
		font-size: 16px;
		height: 34px;
	}
}
