@import '../index';
.setting-container {
	width: 100%;
	background-color: $P500;
	border-radius: $b-rad-default;
  width: 50%;
	input {
		width: 100%;
		height: 30px;
		margin: 5px;
		background-color: $P500;
		border: none;
		color: #ffffff;
		font-size: 1.75em;
	}
}
