@import '../index';
.setting-container {
	padding: 10px;
	color: white;
	input {
		width: 100%;
		background-color: $P500;
		border: none;
		padding: 5px;
		color: #ffffff;
		border-radius: 5px;
		font-size: 1.75em;
		::-webkit-input-placeholder {
			opacity: 0.5;
		}
	}
	select {
		-webkit-appearance: none;
	}
}
