@import '../../index';

.deck{
  height: 150px;
  position: relative;
  color: rgb(255, 255, 255);
  border-radius: $b-rad-default;
  background: $P500;
  margin: 5px;
  display: flex;

  .img-div {
    float: left;
    position: relative;
    height: 125px;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    z-index: 3;
  }
  .wave-display {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding:10px;
  }
  .controls-panel {
    position: relative;
    width:60%;
    z-index: 3;
    margin: 5px;
    > h1 {
      margin: 5px;
    }
    > div {
      background: $P800;
      display: flex;
      position: absolute;
      border-radius: $b-rad-default;
      bottom: 0px;
      right: 0px;
      width: 100%;
      > a {
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 1000px;
        background: $P200;
        text-align: center;
        > i {
          padding: 10px;
        }
        > p {
          margin: 0px;
          padding: 10px;
        }
      }
    }

  }
  .pitch-handel {
    width: 10%;
    height: 100%;
    z-index: 3;
    background: $A200;
  }

  .pitch-bar {
    width: 25%;
    background: $P200;
    margin: 5px;
  }
}
