.deck{
  position: relative;
  * ::-webkit-scrollbar { 
    display: none;
  }
}

.controls-inner{
  z-index: 3;
  position: absolute;
  top: 67%;
}

.close-track {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
}

.pitch-handle {
  width: 3%;
  height: 40px;
  background-color: #11b0ff;
}

.pitch-container{
  display: inline-flex;
  position: absolute;
  right: 0
}

.pitch-bar {
  height: 40px;
  background-color: #002a42;
  width: 100%;
  margin: 0px !important;
  opacity: 0.75;
}
