.crate {
  width: 100%;

  .crate-inner{
    height: 100%;
    z-index: 5;
    background-color: rgba(29, 29, 29, 0.80);
    padding-bottom: 200px;
    overflow-y: scroll;
    position: absolute;
  }

  .button{
    background-color: rgb(29, 29, 29);
  }

  .search-row {
    padding-right: 0px;
  }

  .search-toggle {
    padding-left: 0px;
  }

}

body {
  background-color: rgb(29, 29, 29);
  color: rgb(195, 195, 195);
}

div.row input {
  background-color: rgb(29, 29, 29);
  color: rgb(195, 195, 195);
}

div.row input:focus {
  background-color: rgb(29, 29, 29) !important;
  color: rgb(195, 195, 195)!important;
}

div.row label {
  color: rgb(195, 195, 195)!important;
}
