.crate {
  width: 100%;
  overflow-y: scroll;
  .crate-inner{
    z-index: 4;
    position: absolute;
    background-color: rgba(29, 29, 29, 0.80);
  }
}



body {
  background-color: rgb(29, 29, 29);
  color: rgb(195, 195, 195);
}

div.row input {
  background-color: rgb(29, 29, 29);
  color: rgb(195, 195, 195);
}

div.row input:focus {
  background-color: rgb(29, 29, 29) !important;
  color: rgb(195, 195, 195)!important;
}

div.row label {
  color: rgb(195, 195, 195)!important;
}
