
@import '../../index';


.mixer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background: $P500;

  .mixer-select {
    height: 50px;
    > h1 {
      margin: 0px;
    }
  }

  .mixer-ctrl {
    position: relative;
    bottom: 0px;
    width: inherit;
    height: 100px;
    display: flex;

    .mixer-img {
      height: inherit;
      width: 100px;
      border-radius: 10000px;
      object-fit: cover;
    }

    .mixer-bar {
      background-color: #ffffff;
    }

    .mixer-handle {
      background-color: $A200;
      width: 30px;
    }

    > a {
      width: 15%;
      height: 100%;
      background: $P800;
      border-radius: 10000px;

    }

  }





}
