
@import '../../index';


.mixer {
  position: absolute;
  bottom: 0px;
  width: 97%;
  height: 100px;
  margin: 10px;
  z-index: 3;
  background: $P500;
  border-radius: $b-rad-default;

  .mixer-ctrl {
    position: relative;
    bottom: 0px;
    width: inherit;
    height: inherit;
    display: flex;

    .pitch-bar {
      background-color: #ffffff;
      width: inherit;
      height: inherit; 
    }

    .pitch-handle {
      width: 3%;
      height: 100%;
      background-color: $A200;
    }

    > a {
      width: 15%;
      height: 100%;
      background: $P800;
      border-radius: 10000px;

    }

  }





}
