// primary color palette
$P50: #E1F5FE;
$P100: #B3E5FC;
$P200: #81D4FA;
$P300: #4FC3F7;
$P400: #29B6F6;
$P500: #03A9F4;
$P600: #039BE5;
$P700: #0288D1;
$P800: #0277BD;
$P900: rgb(1, 87, 156);

//accent colors
$A100: #FF80AB;
$A200: #FF4081;
$A400: #F50057;
$A700: #C51162;

$b-rad-default: 4px;

//shadows
.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.24);
}
//shadows
.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0,0,0,0.24);
}

html {
	background-color: $P100;
  overflow-y: hidden;
  * {
  font-family: 'Roboto', sans-serif;
  }
}
