.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.electro-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  margin-top: 5px; }
  .electro-container .deck-container {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%; }
    .electro-container .deck-container div.deck:last-child {
      margin-bottom: 150px; }
  .electro-container ::-webkit-input-placeholder {
    color: #ffffff; }

.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.crate {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #03A9F4;
  border-radius: 4px; }
  .crate input {
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: #03A9F4;
    border: none;
    color: #ffffff;
    font-size: 1.75em; }
  .crate a {
    background-color: #0277BD;
    float: right;
    width: 38px;
    margin: 2px;
    border-radius: 1000px;
    color: #ffffff;
    text-align: center;
    position: relative; }
    .crate a i {
      padding-top: 10px;
      padding-bottom: 10px; }

.search-result {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 4;
  background: #B3E5FC; }
  .search-result div.crate-item:last-child {
    margin-bottom: 50px; }

::-webkit-input-placeholder {
  opacity: 0.5; }

.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.deck {
  height: 150px;
  position: relative;
  color: white;
  border-radius: 4px;
  background: #03A9F4;
  margin: 5px;
  display: flex; }
  .deck .wave-display {
    width: 100%;
    bottom: 0px;
    right: 0px; }
  .deck .controls-panel {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 0px;
    right: 0px;
    background: #0277BD;
    display: flex;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
    .deck .controls-panel .ctrl-btn {
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 10000px;
      background: #81d4fa;
      text-align: center;
      cursor: pointer; }
      .deck .controls-panel .ctrl-btn > i {
        padding-top: 10px;
        padding-bottom: 10px; }
      .deck .controls-panel .ctrl-btn > p {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px; }
    .deck .controls-panel .left-cntrls {
      display: flex; }
    .deck .controls-panel .pitch-cntrl {
      width: 33%;
      display: flex; }
      .deck .controls-panel .pitch-cntrl .pitch-bump {
        border-radius: 0px; }
  .deck .track-exit {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    z-index: 3;
    background: #ffffff;
    border-radius: 1000px; }
    .deck .track-exit i {
      color: #0277BD; }
  .deck .track-title {
    margin: 5px;
    position: absolute;
    z-index: 3; }
  .deck .pitch-handel {
    width: 15px;
    height: 100%;
    z-index: 3;
    background: #ffffff; }
  .deck .pitch-bar {
    width: 100%;
    background: #81d4fa;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    height: 40px; }

.cue-track {
  cursor: pointer; }

.yt-img {
  max-width: 200px;
  margin: 5px 15px; }

.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.eq canvas {
  margin: 5px;
  cursor: pointer; }

.uv-meter {
  height: 40px;
  margin: 5px; }
  .uv-meter canvas {
    height: 100%;
    width: 100%; }

.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.mixer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background: #03A9F4; }
  .mixer .mixer-select {
    height: 50px; }
    .mixer .mixer-select > h1 {
      margin: 0px; }
  .mixer .mixer-ctrl {
    position: relative;
    bottom: 0px;
    width: inherit;
    height: 100px;
    display: flex; }
    .mixer .mixer-ctrl .mixer-img {
      height: inherit;
      width: 100px;
      border-radius: 10000px;
      object-fit: cover;
      cursor: pointer; }
    .mixer .mixer-ctrl .mixer-bar {
      background-color: #ffffff; }
    .mixer .mixer-ctrl .mixer-handle {
      background-color: #ff4081;
      width: 30px; }
    .mixer .mixer-ctrl > a {
      width: 15%;
      height: 100%;
      background: #0277BD;
      border-radius: 10000px; }


.lv1_blur {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.24); }

.lv2_blur {
  -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.24); }

.lv3_blur {
  -webkit-box-shadow: 6px 6px 7px -1px rgba(0, 0, 0, 0.24); }

html {
  background-color: #B3E5FC; }
  html * {
    font-family: 'Roboto', sans-serif; }

.crate-item {
  background-color: #03A9F4;
  max-height: 100px;
  display: flex;
  color: antiquewhite;
  margin: 5px;
  border-radius: 4px; }
  .crate-item .item-title {
    margin: 10px;
    width: 50%; }
  .crate-item .img-div {
    width: 25%;
    margin: 10px;
    border-radius: 3px;
    background-size: contain; }
  .crate-item .track-thumb {
    padding: 10px;
    margin: 5px;
    border-radius: 5000px;
    color: #f50057; }
    .crate-item .track-thumb i {
      padding: 10px;
      background-color: #faebd7;
      border-radius: 200px;
      float: right; }


.touch-slider {
  position: relative;
  width: 100%;
  height: 100px;
  overflow-x: scroll; }
  .touch-slider .touch-slider-inner {
    width: 200%; }
    .touch-slider .touch-slider-inner .left-bound {
      float: left; }
    .touch-slider .touch-slider-inner .handle {
      height: 100px;
      margin: 0 auto; }
    .touch-slider .touch-slider-inner .right-bound {
      float: right; }

.selector img {
  object-fit: contain;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer; }
